*{  box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;

}
    
    #desconto{
        background-color: #1CD1B0;
        width: 100vw;
        height: 30px;
        display: flex;
        align-items: center;
        padding-left: 10px;
    }

    #desconto h3{
        font-size: 13px;
        line-height: 18px;
    }

    .header {
        width: 100%;
        height: 8.42%;
        background: #00669f;
        box-shadow: 0px 10px 7px 0px #00000040;
        position: sticky;
        z-index: 1;
        top: 0px;
        flex-wrap: wrap;
      
      }
      
      h1,h2 {
        font-size: 32px;
        font-weight: 400;
        line-height: 47px;
        align-items: center;
        font-family: "Fredoka One", sans-serif;
        color: #f3f3f3;
      }
      h2{
        color: #222;
      }
      .sip {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        height: 10vh;
      }.sip img{
        width: 8vw;
        height: 8vh;
        margin: 0.3rem 0rem 1rem 1rem;
      }
      

      .retangulo {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: 3.17%;
        background-color: #001D2D;
        justify-content: end;
        align-items: center;
        padding: 1.09%;
      }
      
      .retangulo a {
        color: #FFFFFF;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-decoration: none;
        position: relative;
        right: 3%;
        margin-right: 10px;
      }
    
    
    main{
        height: 428px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }

    form div{
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    form div h1{
        font-size: 70px;
        text-align: left;
        margin-right: 430px;
        margin-bottom: 45px;
    }

    input{
        width: 620px;
        height: 50px;
        border: 1.53px solid #000000;
        margin-bottom: 15px;
        padding: 15px;
    }

    input::placeholder{
        color: #000000;
    }

    main button{
        height: 54px;
        background: #1cd1b0;
        color: #000000;
        border: none;
        border-radius: 23px;
        font-family: 'karla', sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 44px;
        margin-top: 20px;
    }

    form div h3{
        
        width: 620px;
        height: 28px;
        color: #222222;
        font-size: 22px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
        margin-top: 20px;
    }

    div h3 a{
        
        text-decoration: none;
        color: #00669F;
    }

    footer {
        width: 100%;
        height: 51px;
        background: #00669f;
        padding: 16px 28px;
        color: #f3f3f3;
        margin-top: 151px;
        display: flex;
      
      }
      
      @media(max-width: 500px) {
        section {
          width: 100%;
        } form{
          width: 50vw;
          text-align: center;
        }
        input{
            width: 60vw;
        }
        form h3{
          width: 20vw;
          text-align: center;
          margin-left: -13rem;
        }
      }
    
    
    
    


