*{
    margin:0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Roboto' Arial, Helvetica, sans-serif;
    
}
header{
    position: sticky;
    z-index: 1;
    top: 0;
}
.header{
    background-color: #1cd1b0;
    width: 100vw;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 400; 
    line-height: 1rem;
    height: 4vh;
    
}
.header2{
    background-color: #00669f;
    width: 100vw;
    height: 12vh;
    box-shadow: 0px 10px 7px 0px #00000040;
    
}
.header2 h1{
    font-size: 2rem;
    font-weight: 400;
    line-height: 2rem;
    padding: 1rem;
    margin-left:6rem ;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    
}.conten{
    width:52vw;
    height: 37vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bg {
    position: relative;
    width: 30vw;
    height: 50vh;

}
.batman{
    background-image: url("/aula10BatmanArlequina/img/Batman\ fundo.png");
}
.arlequina{
    background-image: url("/aula10BatmanArlequina/img/Arlequina\ fundo2.png");
}
.superman{
    background-image: url("/aula10BatmanArlequina/img/Superman\ fundo.png");
}
.mulhermaravila{
    background-image: url("/aula10BatmanArlequina/img/mulher maravilha\ fundo.png");
}
.hero-img ,.hero-,.hero_,.hero__{
    border-radius: 50%;
    position: absolute;
    bottom: -25%;
    right: 15%;
    width:15vw;
    height: 20vh;
}
.hero-{
    left: 45%;
}/*
.hero_{
    right:25% ;
}

.hero__{
    left:45% ;
}*/


.icon-heart {
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.card ,.card-,.cards,.cards-{
    display: flex;   
    justify-content: space-between;
    flex-direction: row;
    background: #F3F3F3;
    margin: 1rem 0;
    border-radius: 1rem;
    box-shadow: 0px 2px 2px #c1c1c1;
    width: 23vw;
    height: 37vh;
}
.card{
    
}
.card-{
    
    margin-top: -20rem;
    margin-left: 30%;
}
.cards{
    margin-top: 40rem;
    margin-right: 30rem;
}
.cards-{
    margin-top:40rem ;
    margin-right:40rem ;
}
.text-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30vw;
    align-items: center;
    margin: 1.3rem auto;

}
.text-card h2 {
    margin: 2.1rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2rem;
}
.text-card p {
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1rem;
    color: #333;
}
button{
    margin: 23px 0 20px 0;
    background: #00669F;
    color: #F3F3F3;
    border: none;
    padding: 17px 40px;
    cursor: pointer;
}
.footer {
    margin-top: 50rem;
    height: 10vh;
    background: #00669f;
    padding: 16px 28px;
    display: flex;
    justify-content: space-between;
    
}
.footer p,a{
    color: #f3f3f3;
    font-size: 1rem;

}


