*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: #1CD1B0;
    width: 100vw;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.header2 {
    display: flex;
    width: 100%;
    height: 8.42%;
    background: #00669f;
    box-shadow: 0px 10px 7px 0px #00000040;
    position: sticky;
    z-index: 1;
    top: 0px;
}
.header2 h1 {
    margin-left: 10rem;

}
.header2 i{
   font-size: 2rem;
    margin-left: 3rem;
}

.retangulo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 5vh;
    background-color: #001D2D;
    justify-content: end;
    align-items: center;

}

.retangulo a {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    position: relative;
    right: 3%;
    margin-right: 10px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.section{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #00669f;
    width: 40vw;
    height: 90vh;
    margin: 1rem ;
    margin-right: -3rem;
    border-radius: 2rem; 
    color: #FFFFFF;
    padding: 1rem;
}
.section h2{
    margin-top:-26rem ;
}
.form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 5vh;

}
.selected{
    display:flex ;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -5rem;
    margin-top: 22rem;
}

.selected input{
    width: 15vw;
    height: 5vh;
    margin-left:-8rem;
}
.selected label{
    margin-left:-7rem;
    margin-top: 1rem;
}
.selected textarea{
    width: 15vw;
    height: 28vh;
    margin-left: -8rem;
    margin-top: 5rem;
    
}
.select{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    height: 8vh;   
}
.especie{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

input[type="file"]::placeholder{
    text-align: center;
    width: 15vw;
    border: none;
    padding-top:1rem;
  
}
#file{
    color: #333;
}
.checkbox {
   display: inline;
    width: 5vw;
}
     
fieldset{
    margin: 0.5rem;
    width: 10vw;
    border: none;
}
.line{
    color: #8a8989;
    
}

.radio{
    width: 12vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#button{
    margin-top:2rem;
    margin-left: -6rem;
}

.per{

    width: 5vw;
    height: 5vh;
}
.registro,.login{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.registro h1,.login h1{
    font-size: 70px;
    text-align: left;
    margin-right: 350px;
    margin-bottom: 45px;
}

.login input, .registro input{
    width: 620px;
    height: 50px;
    border: 1.53px solid #000000;
    margin-bottom: 11px;
    padding: 11px;
}

input::placeholder{
    color: #000000;
}
.conteiner{width: 620px;
    justify-content: space-around;
    display: flex;
    align-items: center;
}
.reg,.ver,button{
    
    border-radius: 24px;
    border: none;
    font-family: 'karla', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 44px;
    width: 300px;
    height: 54px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.reg{
    background-color: #888888;
}
.ver,button{
    background-color: #1CD1B0 ;
}

.registro h3 ,.login h3{
    width: 620px;
    height: 28px;
    color: #222222;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin-top: 65px;
}

h3 a{
    margin-top:-3rem;
    text-decoration: none;
    color: #00669F;
}

footer{
    background-color: #00669F;
    width: 100vw;
    height: 51px;    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 151px;
    color: #FFFFFF;
}
@media(max-width:500px){
    h2{
        margin-left:-10rem;
    }
    form input{
        width: 60vw;
    }
    .conteiner{
    flex-direction: column;
    }
}


